* {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0; }

/* MAPAS */
.red-twitter {
  color: #339be0; }

.red-facebook {
  color: #081694; }

.red-instagram {
  color: #ca1ba4; }

.red-youtube {
  color: red; }

/* EXTEND */
.boton, header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  border: solid #FFCE45;
  color: #FFCE45; }

/* MIXIN */
header .navbar {
  background-color: #C36839; }
  header .navbar .container-fluid .navbar-brand .logo {
    height: 60px;
    width: 60px;
    animation-name: camus;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; }

@keyframes camus {
  0% {
    transform: translate(10px, 0); }
  50% {
    transform: translate(200px, 0); }
  100% {
    transform: translate(0px, 0) rotate(360deg); } }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    background-color: #FFCE45;
    color: #7EB5A6;
    border: solid #7EB5A6; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover:active {
      background-color: #7EB5A6;
      color: #FFCE45; }

footer {
  background-color: #C36839; }
  footer .container-fluid .row .col-4 .link-arriba {
    background-color: #FFCE45;
    width: 90%;
    text-align: center;
    font-weight: bold;
    border-radius: 20px; }
    footer .container-fluid .row .col-4 .link-arriba a {
      color: #863404;
      text-decoration: none; }
  footer .container-fluid .row .social-network p {
    color: #863404; }
  footer .container-fluid .row .social-network a i {
    font-size: 20px;
    text-align: center; }
  footer .container-fluid .row .developer {
    color: #863404; }
    footer .container-fluid .row .developer a {
      text-decoration: none;
      color: #FFCE45; }

main .principal .container-fluid .row .col p {
  font-size: 12px; }

main .principal .container-fluid .row .img-principal {
  height: 150px;
  width: 250px; }

main .required {
  background-color: #E8D0B3; }
  main .required .container-fluid .row .col {
    text-align: center; }
    main .required .container-fluid .row .col li {
      font-size: 12px; }

main .carousel-t .container .carousel .carousel-inner .carousel-item iframe {
  height: 300px;
  margin: 10px; }

main .contenedor-civi .container-fluid .row {
  display: grid;
  grid-template-columns: auto; }
  main .contenedor-civi .container-fluid .row .civilizacion {
    border: solid 2px #C36839; }
    main .contenedor-civi .container-fluid .row .civilizacion .civi-img {
      height: 50px;
      width: 50px;
      padding: 5px;
      transition: all 1s ease; }
    main .contenedor-civi .container-fluid .row .civilizacion .civi-img:hover {
      transform: rotate(360deg); }

main .gallery .contenedor-img {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 160px;
  justify-content: center; }
  main .gallery .contenedor-img .div-imagen {
    border: solid 3px #C36839; }
    main .gallery .contenedor-img .div-imagen:hover {
      filter: grayscale(75%); }
    main .gallery .contenedor-img .div-imagen img {
      height: 100%;
      width: 100%; }

main section .container .row .card .card-body .card-text {
  font-size: 12px; }

main .contact .container {
  background: linear-gradient(#E8D0B3, #C36839); }
  main .contact .container .row .contact-img .contact-img-content .imagen-contacto {
    height: 50px;
    width: 50px; }
  main .contact .container .row .contact-img form .mb-4 .col-auto .btn {
    background-color: #C36839;
    border: solid #FFCE45; }
    main .contact .container .row .contact-img form .mb-4 .col-auto .btn:hover {
      background-color: #FFCE45;
      color: #C36839;
      border: #C36839; }

@media screen and (min-width: 425px) {
  /* --- index --- */
  main .principal .container-fluid {
    display: grid;
    grid-template-columns: auto; }
    main .principal .container-fluid .row .img-principal {
      height: 200px;
      width: 425px;
      padding: 0px; }
  /* --- galeria --- */
  main .gallery .contenedor-img .div-imagen {
    transition: 0.5; }
    main .gallery .contenedor-img .div-imagen:hover {
      transform: scale(1.2);
      filter: grayscale(50%); } }

@media screen and (min-width: 768px) {
  /* --- index --- */
  main .principal .container-fluid .row .col p {
    font-size: 16px; }
  main .principal .container-fluid .row .img-principal {
    height: 450px;
    width: 656px;
    padding: 0px; }
  main .required .container-fluid .row .col li {
    font-size: 16px; }
  main .carousel-t .container .carousel .carousel-inner .carousel-item iframe {
    width: 600px;
    height: 515px; }
  /* --- civilizaciones --- */
  main .contenedor-civi .container-fluid .row {
    display: grid;
    grid-template-columns: auto auto auto; }
    main .contenedor-civi .container-fluid .row .civilizacion .civi-img {
      height: 75px;
      width: 75px;
      padding: 0px; }
  /* --- galeria --- */
  main .gallery .contenedor-img {
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 200px 200px;
    justify-content: center; }
    main .gallery .contenedor-img .div-imagen {
      transition: 0.5; }
      main .gallery .contenedor-img .div-imagen:hover {
        transform: scale(1.1); }
  /* --- pro player --- */
  main section .container .row .card .card-body .card-text {
    font-size: 16px; }
  /* --- footer --- */
  footer .container-fluid .row .col-4 .link-arriba {
    width: 40%; } }

@media screen and (min-width: 992px) {
  /* --- navbar ---*/
  header .navbar .container-fluid .navbar-brand .logo {
    animation-name: camus;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: initial;
    animation-timing-function: ease; }
  @keyframes camus {
    0% {
      transform: translate(10px, 0); }
    50% {
      transform: translate(300px, 0); }
    100% {
      transform: translate(0px, 0) rotate(360deg); } }
  header .navbar .container-fluid .navbar-collapse {
    display: flex;
    justify-content: end; }
  /* --- index --- */
  main .carousel-t .container .carousel .carousel-inner .carousel-item iframe {
    height: 600px;
    width: 515px; } }

@media screen and (min-width: 1440px) {
  /*--- galeria --- */
  main .gallery .contenedor-img {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center; } }
