*{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* MAPAS */

$redes:(
    twitter: #339be0,
    facebook: #081694,
    instagram: #ca1ba4,
    youtube: red,

);
@each $red, $color in $redes {
    .red-#{$red} {
        color: $color;
    }
}

/* EXTEND */

.boton{
    border: solid $color-letra;
    color: $color-letra;
}

/* MIXIN */

@mixin size ($alto, $ancho, $padding) {
    height: $alto;
    width: $ancho;
    padding: $padding;
}

