/* ------------- MEDIAQUERIES --------------------------- */


@media screen and (min-width:425px){
    /* --- index --- */
    main{
        .principal{
            .container-fluid{
                .row{
                    display: grid;
                    grid-template-columns: auto;
                    .col{
                        p{
                        }
                    }
                    .img-principal{
                        @include size(200px, 425px, 0px)
                        img{
                            
                        }   
                    }
                }
            }
        }
        .required{
            .container-fluid{
                .row{
                    .col{
                        
                    }
                }

            }
        }
    }
    /* --- galeria --- */
    main{
        .gallery{
            .contenedor-img{    
                
                .div-imagen{
                    transition: 0.5;
                    
                    &:hover{
                    transform: scale(1.2);
                    
                    filter: grayscale(50%);
                    
                }
                }
            }
        }
    }
}
@media screen and (min-width:768px){
    /* --- index --- */
    main{
        .principal{
            .container-fluid{
                .row{
                    .col{
                        p{
                            font-size: 16px;
                        }
                    }
                    .img-principal{
                        @include size(450px, 656px, 0px)
                    }
                }
            }
        }
    
        .required{
            .container-fluid{
                .row{
                    .col{
                        li{
                            font-size: 16px;
                        }

                    }
                }
            }
        }
        .carousel-t{
            .container{
                .carousel{
                    .carousel-inner{
                        .carousel-item{
                            iframe{
                                width: 600px;
                                height: 515px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* --- civilizaciones --- */
    main{
        .prueba{
            display: none;
        }
        .contenedor-civi{
            display: block;
            .container-fluid{
                .row{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    .civilizacion{
                        border: solid 2px $bg-header;
                        .civi-img{
                            @include size (75px, 75px, 0px)
                            transition: all 1s ease;
                        }
                        .civi-img:hover{
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }


    /* --- galeria --- */
    main{
        .gallery{
            .contenedor-img{    
                display: grid;
                grid-template-columns: 360px 360px;
                grid-template-rows: 200px 200px;
                justify-content: center;
                .div-imagen{
                    transition: 0.5;
                    
                    &:hover{
                    transform: scale(1.1);                    
                    }
                }
            }
        }
    }
    /* --- pro player --- */
    main{
        section{
            .text-center{
            }
            .container{
                .row{
                    .card{
                        img{
    
                        }
                        .card-body{
                            .card-title{
    
                            }
                            .card-text{
                                font-size: 16px;                            
                            }
                        }
                    }
                }
            }
        }
    }

    /* --- footer --- */
    footer{
        .container-fluid{
            .row{
                .col-4{
                    .link-arriba{
                        width: 40%;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px){
    /* --- navbar ---*/
    header{
        .navbar{
            .container-fluid{ 
                .navbar-brand{  
                    .logo{
                        animation-name: camus;
                        animation-duration: 2s;
                        animation-delay: .5s;
                        animation-iteration-count: initial;
                        animation-timing-function: ease;
                        @keyframes camus {
                            0%{
                                transform: translate(10px, 0);
                            }
                            50%{
                                transform: translate(300px, 0);
                            }
                            100%{
                                transform: translate(0px, 0) rotate(360deg);
                            }
                        }
                    }
                    
                }
                .navbar-collapse{
                    display:flex;
                    justify-content: end;

                }
            }
        }
    }
    /* --- index --- */
    main{   
        .carousel-t{
            .container{
                .carousel{
                    .carousel-inner{
                        .carousel-item{
                            iframe{
                                height: 600px;
                                width: 515px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1440px){
    /*--- galeria --- */
    main{
        .gallery{
            .contenedor-img{    
                display: grid;
                grid-template-columns: 400px 400px 400px;
                grid-template-rows: 200px 200px 200px;
                justify-content: center;      
            }
        }
    }
}