/* ------------- MEDIAQUERIES --------------------------- */


@media screen and (min-width:425px){
    /* --- galeria --- */
    main{
        .gallery{
            .contenedor-img{    
                
                .div-imagen{
                    transition: 0.5;
                    
                    &:hover{
                    transform: scale(1.2);
                    
                    filter: grayscale(50%);
                    
                    }
                }
            }
        }
    }
}
@media screen and (min-width:768px){
    /* --- index --- */
    main{
        .primer-nota{
            .fila{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .columna-text{
                    text-align: left;
                    align-self: center;
                    .contenedor-text{
                        
                    }
                }
                .columna-img{
                    .contenedor-img{
                        
                        img{
                            @include size (240px, 300px, 0)
                        }
                    }
                }
            }
        }
        .requisitos{
            h2{
                font-size: 26px;
            }
            .fila{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 10px;
                .columna-img{
                    align-self: center;
                    .contenedor-img{
                        img{
                            @include size (240px, 300px, 0)
                        }
                    }
                }
                .columna-text{
                    text-align: left;
                    align-self: center;
                    h3{
                        font-size: 16px;
                        padding: 5px;
                    }
                    li{
                    }
                }
            }
        }
        .carousel-t{
            .container{
                .carousel{
                    .carousel-inner{
                        .carousel-item{
                            iframe{
                                width: 600px;
                                height: 515px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* --- civilizaciones --- */
    main{
        .prueba{
            display: none;
        }
        .contenedor-civi{
            display: block;
            .container-fluid{
                .row{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    .civilizacion{
                        border: solid 2px $bg-header;
                        .civi-img{
                            @include size (75px, 75px, 0px)
                            transition: all 1s ease;
                        }
                        .civi-img:hover{
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }


    /* --- galeria --- */
    main{
        .gallery{
            .contenedor-img{    
                display: grid;
                grid-template-columns: 360px 360px;
                grid-template-rows: 200px 200px;
                justify-content: center;
                .div-imagen{
                    transition: 0.5;
                    
                    &:hover{
                    transform: scale(1.1);                    
                    }
                }
            }
        }
    }
    /* --- pro player --- */
    main{
        section{
            .text-center{
            }
            .container{
                .row{
                    .card{
                        img{
    
                        }
                        .card-body{
                            .card-title{
    
                            }
                            .card-text{
                                font-size: 16px;                            
                            }
                        }
                    }
                }
            }
        }
    }

    /* --- footer --- */
    footer{
        .container-fluid{
            .row{
                .col-4{
                    .link-arriba{
                        width: 40%;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px){
    /* --- navbar ---*/
    header{
        .navbar{
            .container-fluid{ 
                .navbar-brand{  
                    .logo{
                        animation-name: camus;
                        animation-duration: 2s;
                        animation-delay: .5s;
                        animation-iteration-count: initial;
                        animation-timing-function: ease;
                        @keyframes camus {
                            0%{
                                transform: translate(10px, 0);
                            }
                            50%{
                                transform: translate(300px, 0);
                            }
                            100%{
                                transform: translate(0px, 0) rotate(360deg);
                            }
                        }
                    }
                    
                }
                .navbar-collapse{
                    display:flex;
                    justify-content: end;

                }
            }
        }
    }
    /* --- index --- */
    main{  
        .primer-nota{
            .fila{
                .columna-text{
                    text-align: left;
                    align-self: center;
                    .contenedor-text{
                    }
                }
                .columna-img{
                    .contenedor-img{
                        
                        img{
                            @include size (370px, 450px, 0)
                        }
                    }
                }
            }
        }
        .requisitos{
            h2{
                font-size: 30px;
            }
            .fila{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .columna-img{
                    .contenedor-img{
                        img{
                            height: 370px;
                            width: 450px;
                        }
                    }
                }
                .columna-text{
                    
                    text-align: left;
                    align-self: center;
                    h3{
                        font-size: 18px;
                        padding: 5px;
                    }
                    li{
                    }
                }
            }
        }
        .carousel-t{
            .container{
                .carousel{
                    .carousel-inner{
                        .carousel-item{
                            iframe{
                                height: 600px;
                                width: 515px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1440px){
    /* --- index --- */
    main{  
        .primer-nota{
            .fila{
                .columna-text{
                    text-align: left;
                    align-self: center;
                    margin-left: 20px;
                    .contenedor-text{
                        font-size: 18px;
                    }
                }
                .columna-img{
                    .contenedor-img{
                        
                        img{
                            @include size (470px, 650px, 0)
                        }
                    }
                }
            }
        }
        .requisitos{
            h2{
                font-size: 36px;
            }
            .fila{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 10px;
                .columna-img{
                    align-self: center;
                    .contenedor-img{
                        img{
                            @include size (470px, 650px, 0)
                        }
                    }
                }
                .columna-text{
                    text-align: left;
                    align-self: center;
                    h3{
                        font-size: 28px;
                        padding: 5px;
                    }
                    li{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
    
    /*--- galeria --- */
    main{
        .gallery{
            .contenedor-img{    
                display: grid;
                grid-template-columns: 400px 400px 400px;
                grid-template-rows: 200px 200px 200px;
                justify-content: center;      
            }
        }
    }
}