/* ------- CIVILIZACIONES -------- */

main{
    .titulo-civ{
        background-image: url(../../imagenes/civiliactiones.png);
        background-position: center;
        height: 200px;
        background-size: cover;
        h1{
            font-size: 60px;
            -webkit-text-fill-color: #fff;
            -webkit-text-stroke: black 2px; 
        }
    }
    .titulo-civ{
        h1{

        }
    }
    .prueba{
        .accordion{
            .accordion-item{
                .accordion-header{
                    
                    .accordion-button{
                        color: black;
                    }
                }
                .accordion-collapse{
                    .accordion-body{
                        
                    }
                }
            }
        }
    }
    .prueba{

    }
    .contenedor-civi{
        display: none;
        
        .container-fluid{
            .row{
                .civilizacion{
                    
                    .civi-img{
                        
                        transition: all 1s ease;
                    }
                    .civi-img:hover{
                        transform: rotate(360deg)
                    }
                }
            }
        }
    }
}