/* ------- CIVILIZACIONES -------- */

main{
    h1{
        font-size: 60px;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: black 2px; 
    }
    .prueba{
        
    }
    .contenedor-civi{
        display: none;
        .container-fluid{
            .row{
                .civilizacion{
                    
                    .civi-img{
                        
                        transition: all 1s ease;
                    }
                    .civi-img:hover{
                        transform: rotate(360deg)
                    }
                }
            }
        }
    }
}