/* ------- CONTACTO --------------------- */

main{
    .titulo-contacto{
        background-image: url(../../imagenes/contacto.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
        h1{
            font-size: 60px;
            -webkit-text-fill-color: #fff;
            -webkit-text-stroke: black 2px; 
        }
    }
    .contact{
        
        .text-center{
        }
        .container{
            
            background: linear-gradient($color-letra, #f7eccd);
            .row{
                
                .gif{
                    height: 550px;
                    

                    .text-contacto{
                        p{
                            font-size: 16px;
                            
                            
                        }
                    }
                    .fondo{
                        background: url(https://c.tenor.com/5eEHdZWyTfwAAAAd/ddac_i.gif);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        height: 400px;
                    }
                }
                .contact-img{
                    .contact-img-content{
                        .imagen-contacto{
                            
                            height: 50px;
                            width: 50px;
                        }
                    }
                    form{
                        .mb-4{
                            .col-auto{
                                .btn{
                                    background-color: $bg-header;
                                    border: solid $color-letra;
                                    &:hover{
                                        background-color: $color-letra;
                                        color: $bg-header;
                                        border: $bg-header;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
