.container{
    form{
        .row{
            .col-auto{
                .btn{
                    background-color: $bg-header;
                    border: solid $color-letra;
                    &:hover{
                        background-color: $color-letra;
                        color: $bg-header;
                        border: $bg-header;
                    }
                }
            }
        }
    }
}