/* ------- CONTACTO --------------------- */

main{
    h1{
        font-size: 60px;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: black 2px; 
    }
    .contact{
        
        .text-center{
        }
        .container{
            
            background: linear-gradient($color-letra, #f7eccd);
            .row{
                
                .col{
                    p{
                        
                    }
                }
                .contact-img{
                    .contact-img-content{
                        .imagen-contacto{
                            
                            height: 50px;
                            width: 50px;
                        }
                    }
                    form{
                        .mb-4{
                            .col-auto{
                                .btn{
                                    background-color: $bg-header;
                                    border: solid $color-letra;
                                    &:hover{
                                        background-color: $color-letra;
                                        color: $bg-header;
                                        border: $bg-header;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
