/* main{
    .gallery{
        .container{
            .row{
                .col{
                    .galeria-img{
                        @include size(300px, 150px, 5px)
                    }
                }
            }
        }
    }
} */
main{
    .gallery{
        .contenedor-img{    
            display: grid;
            grid-template-columns: 320px;
            grid-template-rows: 160px;
            justify-content: center;
            .div-imagen{
                border: solid 3px $bg-header; 
                img{
                    height: 100%;
                    width: 100%;
                }
            }       
        }
    }
}