/* --------------- GALERIA ------------------- */

main{
    h1{
        font-size: 60px;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: black 2px;  
    }
    .gallery{
        .contenedor-img{    
            display: grid;
            grid-template-columns: 320px;
            grid-template-rows: 160px;
            justify-content: center;
            .div-imagen{
                border: solid $bg-header;
                &:hover{
                    filter: grayscale(75%);
                }
                
                img{
                    height: 100%;
                    width: 100%;
                }
            }       
        }
    }
}
