/* ---------------- INDEX ------------------------------ */

main{
    .primer-nota{
        .fila{
            display: grid;
            grid-template-columns: auto;
            
            padding: 10px;
            .columna-text{
                text-align: center;
                padding: 5px;
                .contenedor-text{
                    font-size: 14px;
                }
            }
            .columna-img{
                justify-self: center;
                padding: 5px;
                .contenedor-img{
                    
                    img{
                        @include size (240px, 300px, 0)
                    }
                }
            }

        }
    }
    .requisitos{
        
        .fila{
            /* display: grid;
            grid-template-columns: auto; */
            display: flex;
            flex-direction: column-reverse;
            
            padding: 10px;
            .columna-img{
                justify-self: center;
                text-align: center;
                
                
                padding: 5px;
                .contenedor-img{
                    img{
                        @include size (240px, 300px, 0)
                    }
                }
            }
            .columna-text{
                padding: 5px;
                h2{
                    font-size: 20px;
                    padding: 5px 40px;
                    text-decoration: underline;
                }
                h3{
                    font-size: 16px;
                    text-align: center;
                    padding: 5px;
                }
                li{
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
    .carousel-t{
        .container{
            .carousel{
                .carousel-inner{
                    .carousel-item{
                        iframe{
                            height: 300px;
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
}