/* -------- HEADER -------------------- */

header{
    
    .navbar{
        background-color: $bg-header;
        .container-fluid{
            
            .navbar-brand{
                
                .logo{
                    height: 60px;
                    width: 60px;
                    
                    animation-name: camus;
                    animation-duration: 2s;
                    animation-delay: .5s;
                    animation-iteration-count: initial;
                    animation-timing-function: ease;
                    @keyframes camus {
                        0%{
                            transform: translate(10px, 0);
                        }
                        50%{
                            transform: translate(200px, 0);
                        }
                        100%{
                            transform: translate(0px, 0) rotate(360deg);
                        }
                    }
                }
                
            }

            .navbar-collapse{

                .navbar-nav{

                    .nav-item{

                        .nav-link{
                            @extend .boton;
                            &:hover{
                                
                                color: $color-header;
                                border-bottom: solid $color-header;
                                &:active{
                                    
                                    color: $color-letra;
                                }
                            }
                        }

                    }

                }

            }

        }

    }

}    